DB_NAME = ''
DB_USER = ''
DB_PASS = ''
DB_HOST = 'localhost'
JWT_SECRET = 'jsonwebtokensecretkey'
PORT = 5500

OAUTH_CLIENT_ID=''
OAUTH_CLIENT_SECRET=''
OAUTH_REFRESH_TOKEN=''
DRIVE_FOLDER_ID=''
BACKUP_RETENTION_DAYS=1
BACKUP_NAME='karizma_backup'
