DB_NAME = ''
DB_USER = ''
DB_PASS = ''
DB_HOST = ''
JWT_SECRET = ''
PORT = 5000

GOOGLE_SERVICE_PROJECT_ID=db-backups-479121
GOOGLE_SERVICE_CLIENT_EMAIL=karizma@db-backups-479121.iam.gserviceaccount.com
GOOGLE_SERVICE_PRIVATE_KEY="asdf asdf"
DRIVE_FOLDER_ID= # optional - leave blank if uploading to root
